PORT=3000
JWT_SECRET=change_this_super_secret

# Accurate Online
AO_BASE_URL=https://YOUR-ACCURATE-DOMAIN
AO_JV_SAVE_PATH=/api/journal-voucher/save.do

# Auth (pilih yang kamu pakai)
AO_BEARER_TOKEN=
AO_X_SESSION_ID=

# License mode
LICENSE_FILE=./licenses.json